@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #18181b;
  color: white;
  overflow: hidden; /* Empêche le scroll natif brutal */
}

#main-container {
  scroll-padding-top: 0px;
}